@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b0b0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0f;
    --foreground: #f7f7f8;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .container-px {
    @apply px-2 sm:px-3 lg:px-6;
  }
}
